<footer class="footer">
	<div class="container">
		<p class="text-muted"><a href="/"><%= package.name %></a> v<%= package.version %></p>
		<p class="text-muted">イカボードは任天堂株式会社とは無関係な非公式のサービスです.</p>
		<p class="text-muted">フォントに<a href="http://aramugi.com/?page_id=807"><span class="ikamodoki">イカモドキ</span></a>を使用しています.</p>
		<p class="text-muted">ステージ画像に<a href="http://ameblo.jp/3balkan/entry-12028146056.html">カンZY氏製作のマップ</a>を使用しています.</p>
	</div>
</footer>
