<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
		<script src="/javascripts/navbar.js"></script>
    <link rel="stylesheet" href="/stylesheets/lib/bootstrap-3.3.5.min.css" />
		<link rel="stylesheet" href="/stylesheets/font.css" />
		<link rel="stylesheet" href="/stylesheets/sticky-footer.css" />
  </head>
  <body>

		<%- include navbar %>

		<div class="jumbotron">
			<div class="container text-center">
				<h1 class="ikamodoki"><%= title %></h1>
				<h2 class="ikamodoki">イカしたイカになるためのセンリャクツール</h2>
				<form action="/boards/create" method="post" class="text-center">
					<button class="btn btn-lg ikamodoki">ボードをつくる</button>
				</form>
			</div>
		</div>

		<%- include footer %>

  </body>
</html>
