<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/lib/bootstrap-3.3.5.min.css" />
		<link rel="stylesheet" href="/stylesheets/font.css" />
  </head>
  <body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="container">
					<div class="nav navbar-header">
						<a href="/" class="navbar-brand ikamodoki"><%= title %></a>
					</div>
				</div>
			</div>
		</nav>
		<div class="jumbotron">
			<div class="container text-center">
				<h1 class="ikamodoki"><%= title %></h1>
				<h2 class="ikamodoki">イカしたイカになるためのセンリャクツール</h2>
				<form action="/board/create" method="post" class="text-center">
					<button class="btn btn-lg ikamodoki">ボードをつくる</button>
				</form>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2 class="ikamodoki">マップにラクガキ</h2>
				</div>
				<div class="col-md-6">
					<h2 class="ikamodoki">なかまとそうだん</h2>
				</div>
			</div>
		</div>
  </body>
</html>
