body {
	padding-top: 70px;
}

tbody {
	display: block;
	max-height: 1000px;
	overflow-y: scroll;
}

canvas:hover {
	cursor: crosshair;
}

.color {
	width: 50px;
	height: 50px;
	padding: 0;
	margin: 0;
	float: left;
	border-radius: 0;
}

.btn-color {
	width: 37px;
	height: 37px;
	padding: 0;
	margin: 0;
	float: right;
}

.width {
	width: 50px;
	height: 50px;
	padding: 0;
	margin: 0;
	float: left;
	border: solid 1px;
	border-radius: 0;
}

.btn-width {
	width: 37px;
	height: 37px;
	padding: 0;
	margin: 0;
	float: right;
	background-position: center;
}

.stamp {
	width: 50px;
	height: 50px;
	padding: 0;
	margin: 0;
	float: left;
	border: solid 1px;
	border-radius: 0;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.btn-stamp {
	width: 37px;
	height: 37px;
	padding: 0;
	margin: 0;
	float: right;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.popup-container {
	box-sizing: content-box;
	z-index: 999;
	position: 'absolute';
	margin: 0;
	padding: 0;
	border: solid;
}

.stage-label {
	padding-top: 8.5px;
	padding-bottom: 8.5px;
}

.stage-selector {
	padding-top: 1.5px;
	padding-bottom: 1.5px;
}

.stage-group {
	margin: 0;
}
